{{define "500"}}
{{template "header" .}}
<p>Sorry, the server is busy!  Please try again in a few minutes.</p>
<a href="http://i.imgur.com/FQxduAG.gif"><img src="http://i.imgur.com/FQxduAG.gif" title="source: imgur.com" /></a>
{{template "footer" .}}
{{end}}