{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://courses.washington.edu/css490/2015.WinterC/css/css490.css" />
  </head>
  <body>
    <div class="logo">
      &nbsp;
    </div>
    <hr class="logo" />
{{template "menu" .}}
{{end}}