{{define "login"}}
{{template "header" .}}
<form action="login" method="POST">
  What is your name, Earthling?
  <input type="text" name="name" size="50" required>
  <input type="submit">
</form>
{{template "footer" .}}
{{end}}